@use "base";
$devices: band9, band9p, band10;
$appbar-height: 120px, 80px, 120px;
$device-height: 490px, 480px, 520px;
@mixin appBar($device: band9) {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 16px 16px 16px;

    background-color: base.$primary;
    color: base.$on-primary;

    position: absolute;
    right: 0;
    top: 0;
    @if ($device == band9){
        height: nth($appbar-height, 1);
        justify-content: center;
        flex-direction: column;
    }
    @else if ($device == band9p){
        flex-direction: row;
        justify-content: space-between;
        height: nth($appbar-height, 2);
    }
    @else if ($device == band10){
        height: ntb($appbar-height, 3);
        justify-content: center;
        flex-direction: column;
    }
}

@each $d in $devices{
    .appBar-#{$d}{
        @include appBar($d)
    }
    $index: index($devices, $d);
    .content-#{$d}{
        position: absolute;
        right: 0;
        top: nth($appbar-height, $index);
        width: 100%;
        flex-direction: column;
        height: nth($device-height, $index) - nth($appbar-height, $index);
    }
}