$primary: #D0BCFF;
$on-primary: #381E72;
$surface: #141218;
$on-surface: #E6E0E9;
$surface-container: #1d1b20;

.title {
    font-size: 25px;
    text-align: left;
    color: $on-surface;
}

.back-button {
    object-fit: cover; height: 50px; width: 50px
}